### Import Necessary libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re
import os

In [3]:
## Import datafile
df = pd.read_csv(r'â€ªE:\AiBeesAsst\AI Bees Project\Data Branch\generatefile.csv', header=None, error_bad_lines = True)
df.head()

                                                   0
0  Cristiano Ronaldo match-winning goal in the Ch...

In [4]:
## Checking Null
df.isnull()

       0
0  False

In [5]:
df.describe()

                                                        0
count                                                   1
unique                                                  1
top     Cristiano Ronaldo match-winning goal in the Ch...
freq                                                    1

In [8]:
## Save updated file
df.to_csv('generatefileupdated.csv',index=False,header=False)