### Author : Sanjoy Biswas
### Email : sanjoy.eee32@gmail.com
### Portfolio : https://imsanjoykb.github.io/

### Import Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re
import os
import csv
import mysql.connector
from sqlalchemy import create_engine
import pymysql
import pandas as pd

In [22]:
## Import datafile
df = pd.read_csv(r'E:\AiBeesAsst\AI Bees Project\Data Branch\generatefile.csv', header=None, error_bad_lines = True)
df.head()

                                                   0
0  Cristiano Ronaldo match-winning goal in the Ch...

In [23]:
## Checking Null
df.isnull()

       0
0  False

In [24]:
## Save updated file
df.to_csv('E:\AiBeesAsst\AI Bees Project\Data Branch\generatefileupdated.csv',index=False,header=False)

### Connect With Database

In [25]:
mydb = mysql.connector.connect(host = 'localhost', user = 'root', database = 'textgeneration')
print('Database connected successfully!!')

Database connected successfully!!

In [26]:
cursor = mydb.cursor()
csv_data = csv.reader(open('generatefileupdated.csv'))
for row in csv_data:
    cursor.execute('INSERT INTO textgenerate(comment) VALUES(%s)', row)
    print(row)
    
mydb.commit()
cursor.close()
print('Its Done')

['Cristiano Ronaldo match-winning goal in the Champions League']
Its Done

In [2]:
sqlEngine       = create_engine('mysql+pymysql://root:@127.0.0.1', pool_recycle=3600)
dbConnection    = sqlEngine.connect()
frame           = pd.read_sql("select * from textgeneration.textgenerate", dbConnection);

 
pd.set_option('display.expand_frame_repr', False)
print(frame)
dbConnection.close()

    Serial                                            comment           timestamp
0        1  Cristiano Ronaldo match-winning goal in the Ch... 2021-09-13 00:59:33
1        2  Data science is the study of data and how it c... 2021-09-13 00:59:56
2        3  Virat Kohli is an Indian cricketer who is the ... 2021-09-13 01:50:47
3        4  Data Science for Business teaches you how to e... 2021-09-13 01:54:45
4        5  Edge AI is the processing of Artificial Intell... 2021-09-13 01:53:17
5        6  Lionel Messi plays as a forward for Ligue 1 cl... 2021-09-13 01:54:34
6        7  Football at the Summer Olympics has been inclu... 2021-09-13 01:57:58
7        8  Elon Reeve Musk FRS is an entrepreneur and bus... 2021-09-13 01:58:51
8        9  A programming language is a formal language co... 2021-09-13 02:00:01
9       10  Rugby union, commonly known simply as rugby, i... 2021-09-13 02:02:23
10      11  Usain St Leo Bolt is Jamaican sprinter who wid... 2021-09-13 02:03:19
11      12  BMW serves purely as a status symbol for some ... 2021-09-13 02:04:24

In [3]:
## Save databasefile
frame.to_csv(r'E:\AiBeesAsst\AI Bees Project\Data Branch\dbfile.csv',index=False)
frame.to_csv(r'E:\AiBeesAsst\AI Bees Project\static\dbfile.csv',index=False)